[Desktop Entry]
Type=Application
Name=Simple Chart
Comment=Simple Chart stock charting app
TryExec=simplechart
Exec=simplechart
Icon=simplechart
Terminal=false
Categories=Office;Finance;
StartupWMClass=io.simplechart.SimpleChart
StartupNotify=true
